.form {
  background-color: #fff;
  border-radius: 0.5rem;
  max-width: 25rem;
  padding: 1rem;
  margin: 0 auto;
  display: block;
}
.inputContainer {
  position: relative;
}
.fileInput {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
.input {
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  border-radius: 5rem;
  border: 1px solid #999;
}
.uploadButton {
  position: relative;
  background-color: #00a83c;
  width: 20rem;
  margin: 0 auto;
  display: block;
  height: 3rem;
  color: #fff;
  margin-top: 2rem;
  border-radius: 5rem;
  overflow: hidden;
}
.uploadText {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  line-height: 3rem;
}
.progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #008a2b;
  border-radius: 5rem;
}
